<% if @user.id == current_user.id %>
  <h1 class="mb-3">Your Collection: <%= @collection.title %></h1>
<% else %>
  <h1 class="mb-3"><%= @user.username.capitalize %>'s <%= @collection.title %></h1>
<% end %>
<div>
  <% if @wines.empty? %>
    <p>No wines in collection</p>
    <%= image_tag 'search_again.png', class: 'search-img' %>
  <% else %>
    <div>
      <span><a style="padding-right: 10px" href="http://www.facebook.com/share.php?u=http://www.wine-time.me/users/<%= @user.id %>/collections/<%= @collection.id %>" target="_blank"><i class="fa-brands fa-square-facebook fa-xl"></i></a></span>
      <span><a style="padding-right: 10px" href="https://twitter.com/intent/tweet?text=http://www.wine-time.me/users/<%= @user.id %>/collections/<%= @collection.id %>" target="_blank"><i class="fa-brands fa-square-twitter fa-xl"></i></a></span>
      <span><a style="padding-right: 10px" href="https://wa.me/?text=http://www.wine-time.me/users/<%= @user.id %>/collections/<%= @collection.id %>" target="_blank"><i class="fa-brands fa-square-whatsapp fa-xl"></i></a></span>
    </div>
    <br><br>
    <% @recommended = @wines %>
    <%= render 'shared/recommendations', collections: @collections %>
  <% end %>
</div>
<% if @user.id != current_user.id %>
  <%= link_to "Bookmark this Collection", new_bookmark_path(:collection => @collection.id), class:'btn btn-outline-warning mt-3 mb-5' %>
  <%= link_to "Visit User's Profile", profile_path(@user.username), class:'btn btn-warning mt-3 mb-5' %>
<% end %>
