<% if @user.id == current_user.id %>
  <h1 class="mb-3">Your Collection: <%= @collection.title %></h1>
<% else %>
  <h1 class="mb-3"><%= @user.username.capitalize %>'s <%= @collection.title %></h1>
<% end %>
  <div class="sharethis-inline-share-buttons"></div>
<br>
<div>
  <% if @wines.empty? %>
    <p>No wines in collection</p>
    <%= image_tag 'search_again.png', class: 'search-img' %>
  <% else %>
  <% @recommended = @wines %>
  <%= render 'shared/recommendations', collections: @collections %>
  <% end %>
</div>
<% if @user.id != current_user.id %>
  <%= link_to "Bookmark this collection", new_bookmark_path(:collection => @collection.id), class:'btn btn-primary mt-3' %>
  <%= link_to "Visit users profile", profile_path(@user.username), class:'btn btn-primary mt-3' %>
<% end %>
