<div class="container">
  <div class="results-header">
    <h1 class="mb-3"><u>Your Results</u></h1>
    <%= image_tag "28.svg", class: 'scribble-result-right' %>
    <%= image_tag "28.svg", class: 'scribble-result-left' %>
    <%= render 'shared/personalities'  %>
  </div>

  <%= render 'shared/quizzesrec' %>

  <div class='divider mt-5 mb-5'>
  </div>

  <% if !user_signed_in? %>
    <h3 class='mt-5'>Like what you see?</h3>
    <p>Sign up and see more recommendations!</p>
     <%= image_tag "30.svg", class: 'scribble-arrow' %>
    <%= render 'shared/signup', answers: @answers, personality: @personality %>
  <% end %>
</div>
