<div class="container-lg">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <% if current_user.photo.attached? %>
        <div class='position-relative div-avatar'>
          <%= cl_image_tag current_user.photo.key, height: 100, width: 100, crop: :fill, class: 'mt-4 profile-avatar' %>
          <%= link_to edit_user_registration_path do %>
            <%= image_tag 'plus-purple.png', height: 30, class: 'plus position-absolute' %>
          <% end %>
        </div>
      <% else %>
        <div class='position-relative div-avatar'>
          <%= image_tag 'user-svg.svg', height: 100, class: 'mt-4 profile-avatar' %>
          <%= link_to edit_user_registration_path do %>
            <%= image_tag 'plus-purple.png', height: 30, class: 'plus position-absolute' %>
          <% end %>
        </div>
      <% end %>

      <h3 class="mt-3">@<%= current_user.username %></h3>
      <p><%= current_user.bio %></p>
      <%= form_with url: collections_result_path, method: :get, class: "d-flex mb-3 position-relative" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control border-search",
          placeholder: "Search for collections"
        %>
        <%#= submit_tag "Search", class: "btn btn-primary" %>
        <button type="submit" name="commit" data-disable-with="Search" class="search-btn">
          <i class="fa-solid fa-wine-bottle"></i>
        </button>
      <% end %>
      <br>

      <h2 class="mb-3">Your Collections</h2>

      <div class="my-collection gap-3 mb-3">
        <% @collections.each do |collection| %>
          <div class="list">
            <%= link_to collection.title, user_collection_path(id: collection.id, user_id: current_user) %>
            <%= button_to '<i class="fa-solid fa-xmark"></i>'.html_safe, collection_path(id: collection.id),
            method: :delete, class: "btn btn-outline-warning", style: "margin-left: 5px; padding: 0px 2px; border: none;",
            form: { data: {turbo_confirm: 'Are you sure?'} } %>
          </div>
        <% end %>
        <%= link_to '<i class="fa-solid fa-plus"></i>&nbsp;Create collection'.html_safe, new_collection_path, class:"list",
        style: "text-decoration: none; color: white; background-color: black;"%>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div>
        <br>
        <h2>Recommendations</h2>
        <%= render 'shared/recommendations', collections: @collections %>
      </div>
    </div>

  </div>
</div>
