<div class="container">
  <h1>Show</h1>

  <h3>User Wine Lists</h3>

  <% @collections.each do |collection| %>
    <div>
      <%= collection.title %>
    </div>
  <% end %>

<%= link_to "Create a new Wine List", new_collection_path %>

<div>
  <h3>Recommendations</h3>
<<<<<<< HEAD
  <p>Recommendations Carousel is temporary switched off</p>
  <%#= render 'shared/recommendations' %>
</div>

<div>
  <h3>Your List</h3>
  <% if @first_user_collection == nil %>
    <%= link_to "Create your first personal Wine List", new_collection_path %>
  <% else %>
    <%= @first_user_collection.title %>
      Contains
      <%= @first_user_collection.wine_ids.size %>
      Wines
  <% end %>

  <%#= render 'shared/carousel' %>
</div>


  <%= render 'shared/recommendations' %>
</div>
