<div class="container">
  <h1>Show</h1>

  <h3>User Wine Lists</h3>

  <% @collections.each do |collection| %>
    <div>
      <p><%= link_to collection.title, user_collection_path(id: collection.id, user_id: current_user) %></p>
    </div>
  <% end %>
</div>

<%= link_to "Create a new Wine List", new_collection_path %>

<div>
  <h3>Recommendations</h3>
  <%= render 'shared/recommendations', collections: @collections %>
</div>

<div>
  <% if @first_user_collection == nil %>
    <%= link_to "Create your first personal Wine List", new_collection_path %>
  <% else %>
    <h3> Your <%= @first_user_collection.title %>
      Wine list contains
      <%= @first_user_collection.wine_ids.size %>
      wines. </h3>
  <% end %>

  <%= render 'shared/carousel' %>
</div>
