<h1>Show</h1>

<h3>User Wine Lists</h3>
<ul>
  <% @collections.each do |list| %>
    <% if @user == list.user %>
      <%= list.id %> <%= list.title %>
    <% end %>
  <% end %>
</ul>

<%= link_to "Create a new Wine List", new_collection_path %>

<div>
  <h3>Recommendations</h3>
  <%= @recommend_one.name %> <br>
  <%= @recommend_two.name %>
</div>
