<%# @first_user_collection.wine_ids => the wines in the list to display %>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">

    <%# Buttons to be created based on the number of wines  %>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

    <%# slides-total = @first_user_collection.wine_ids.size %>
    <% slides_total = 5 %>
    <% c = 1 %>

    <% while c < slides_total %>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%= c %>" aria-label="Slide 2"></button>
      <% c += 1 %>
    <% end %>

  </div>

  <%# one carousel-item has to be active  %>

  <div class="carousel-inner">
    <div class="carousel-item active">

      <div class="d-block w-100">
        <%= cl_image_tag @recommend_one.photo.key %>
      </div>

      <div class="carousel-caption d-none d-md-block">
          <h1><%= @recommend_one.name %></h1>
          <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>

  <%# start to iterate the remaining wines to and build carousel items  %>
  <% c = 1 %>
    <% while c < slides_total %>
      <div class="carousel-item">

        <div class="d-block w-100">
          <%= cl_image_tag @recommend_two.photo.key %>
        </div>

        <div class="carousel-caption d-none d-md-block">
          <h5><%= @recommend_two.name %></h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <% c += 1 %>
    <% end %>
    <%#=  <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div> %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
