<div class="modal fade" id="wine-<%= wine.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body">
        <h2><%= wine.name %></h2>
        <%= cl_image_tag wine.photo.key, class: "responsive", style: 'height:21rem;' %>
        <br><br>
        <p><span>Description:</span> <%= wine.description %></p>
        <p><span>Rating:</span> <%= wine.rating %></p>
        <p><span>Country:</span> <%= wine.country %></p>
        <p><span>Region:</span> <%= wine.region %></p>
        <p><span>Color:</span> <%= wine.color %></p>
        <p><span>Occasion:</span> <%= wine.wine_type %></p>
        <p><span>Price:</span> €<%= wine.price %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Close</button>
        <div class="dropdown">
          <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add to Collection
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <% @collections.each do |collection| %>
              <li>
                <%= simple_form_for :collection, url: add_wine_collection_path(collection) do |f| %>
                  <%= f.input :wine, as: :hidden, input_html: { value: wine.id } %>
                  <%= f.submit collection.title, class: "dropdown-item" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
