<div class="container">
  <div class="modal fade" id="wine-<%= wine.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
      <div class="modal-content">
        <div class="row; text-end modal-close-button">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-4">
              <%= cl_image_tag wine.photo.key, class: "responsive wine-show mb-4" %>
            </div>
            <div class="col-sm-12 col-md-8">
              <h2 class='text-left mb-4'><%= wine.name %></h2>
              <div class="show-grid">
                <div class='show-specs'><%= image_tag "rating.png", class:'show-img' %><p><strong>Rating:</strong> <%= wine.rating %></p></div>
                <div class='show-specs'><%= image_tag "location.png", class:'show-img' %><p><strong>Country:</strong> <%= wine.country %></p></div>
                <div class='show-specs'><%= image_tag "region.png", class:'show-img' %><p><strong>Region:</strong> <%= wine.region %></p></div>
                <% if wine.color == 'Red' %>
                  <div class='show-specs'><%= image_tag "color-red.png", class:'show-img' %><p><strong>Color:</strong> <%= wine.color %></p></div>
                <% elsif wine.color == 'White' %>
                  <div class='show-specs'><%= image_tag "color-white.png", class:'show-img' %><p><strong>Color:</strong> <%= wine.color %></p></div>
                <% elsif wine.color == 'Rose' %>
                  <div class='show-specs'><%= image_tag "color-rose.png", class:'show-img' %><p><strong>Color:</strong> <%= wine.color %></p></div>
                <% else %>
                  <div class='show-specs'><%= image_tag "color-champagne.png", class:'show-img' %><p><strong>Color:</strong> <%= wine.color %></p></div>
                <% end %>
                <div class='show-specs'><%= image_tag "price.png", class:'show-img' %><p><strong>Price:</strong> €<%= sprintf("%0.02f", wine.price) %></p></div>
              </div>
            </div>
          </div>
          <div class='divider mt-4 mb-4'></div>
          <div>
            <h3 class="mb-3">This is wine tastes best with:</h3>
            <p><%= wine.description %></p>
            <p><strong>Occasion:</strong> <%= wine.wine_type %></p>
          </div>
        </div>
        <div class="modal-footer">
        <a href="<%= wine.url %>" target="_blank">
          <button type="button" class="btn btn-outline-warning">Buy</button>
        </a>
        <% if !@collections.nil? %>
          <% if @collections.size > 0 && @remove.nil? %>
            <div class="dropdown">
              <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Add to Collection
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <% @collections.each do |collection| %>
                  <% if collection.user_id == current_user.id %>
                    <li>
                      <%= simple_form_for :collection, url: add_wine_collection_path(collection) do |f| %>
                        <%= f.input :wine, as: :hidden, input_html: { value: wine.id } %>
                        <%= f.submit collection.title, class: "dropdown-item" %>
                      <% end %>
                    </li>
                    <% end %>
                <% end %>
              </ul>
            </div>
          <% elsif @remove %>
          <% bottle = CollectionWine.find_by(collection: @collection, wine: wine) %>
          <%= button_to "Remove from Collection", collection_wine_path(bottle), method: "delete", class: "btn btn-warning", form: { data: {turbo_confirm: 'Are you sure?'} } %>
          <% else %>
            <%= link_to "Create a Collection", new_collection_path(wine: wine.id), class: "btn btn-warning" %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%# raise %>
