<div class="navbar navbar-expand navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

      <div class="search-bar">
        <% if user_signed_in? %>
            <%= form_with url: wines_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find wines"
            %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key,
                  crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag 'user-svg.svg',
                  height: 40, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu dropdown-menu-end">
              <%= link_to "My Collections", me_profiles_path, class: "dropdown-item" %>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= button_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item", method: :delete %>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to '<i class="fa-solid fa-circle-user" style="font-size: 25px;"></i>'.html_safe, new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
