<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" pause="hover">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <% slides_total = @recommended.size %>
    <% c = 1 %>
    <% while c < slides_total %>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%= c %>" aria-label="Slide <%= c %>"></button>
      <% c += 1 %>
    <% end %>
  </div>
  <div class="carousel-inner" data-bs-interval="2000">
    <% @recommended.each do |wine| %>
    <div class="carousel-item <%= "active" if wine.name == @recommended[0].name %>">
      <div class="d-block w-100">
        <%= cl_image_tag wine.photo.key, class: "responsive more-info-margin" %>
      </div>
      <br>
      <div class="carousel-caption">
        <div class="wine-title-info">
          <button type="button" class="btn btn-warning mt-5" data-bs-toggle="modal" data-bs-target="#wine-<%= wine.id %>">More Information</button>
        </div>
        <%= render "shared/modal", wine: wine %>
      </div>
    </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
