<div class="container">
  <h2>Results</h2>
  <div class="row justify-content-center row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% @wines.each do |wine| %>
      <div class="search-card mb-4">
        <!-- <h4><%= wine.name %></h4> -->
        <p><%= cl_image_tag wine.photo.key, class: 'responsive' %></p>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#wine-<%= wine.id %>">
          More Information
        </button>
        <%= render "shared/modal", wine: wine %>
      </div>
    <% end %>
  </div>
</div>

<% if @search == nil %>
  <div class="container mb-3">
    <%= image_tag 'search_again.png', class: 'search-img' %>
    <h3 class='mt-5'>The wine you're searching for is currently not on our list.</h3>
  </div>
<% end %>
