<!DOCTYPE html>
<html>
  <head>
    <title>WineTime</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=631723f20b5e930012a9c4cd&product=inline-share-buttons" async="async"></script>
  </head>

  <body>
    <div class="page-container">
      <%= render "shared/navbar" %>
      <main id="main-content">
        <%= render "shared/flashes" %>
        <div class="container-fluid text-center mt-4 p-2">
          <%= yield %>
        </div>
      </main>
      <%# render "shared/footer" %>
    </div>
  </body>
</html>
