<!DOCTYPE html>
<html>
  <head>
    <title>WineTime - AI powered wine experience</title>
    <link rel="icon" href="<%= image_path('new_icon.ico') %>">
    <meta property="og:title" content="WineTime, Get Your Personal AI Powered Wine Recommendations" />
    <meta property="og:description" content="Get your personal AI powered wine recommendations and share them with your friends." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://wine-time.me/" />
    <meta property="og:image" content="http://wine-time.me/images/logo_facebook-min.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="page-container">
      <%= render "shared/navbar" %>
      <main id="main-content">
        <%= render "shared/flashes" %>
        <div class="container-fluid text-center mt-4 p-2">
          <%= yield %>
        </div>
      </main>
      <%# render "shared/footer" %>
    </div>
  </body>
</html>
